## TEST CONFIGURATION
DATABASE_URL=sqlite+aiosqlite:///:memory:
DEBUG=1
LOG_LEVEL=DEBUG
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=ChangeThisToASecretKey!123
STARLETTE_ADMIN_KEY=ChangeThisToASecretKey!123