@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Alpine.js utility to hide elements with x-cloak until Alpine initializes */
    /* Reference: https://alpinejs.dev/directives/cloak */
    [x-cloak] {
        @apply hidden;
    }

    /* HTMX-specific utility for activity indicators to handle loading states */
    /* Reference: https://htmx.org/attributes/hx-indicator/ */
    .htmx-indicator {
        @apply opacity-0 transition-opacity duration-500 ease-in;
    }

    .htmx-request.htmx-indicator {
        @apply opacity-100;
        animation: pulse 2s infinite;
        animation-delay: 1s;
    }

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity:0.75;
        }
    }
}