{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to the Admin Panel 🎉</h2>
    <p>Manage your application efficiently with Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
       blandit quis magna ac bibendum. Fusce ornare lorem id purus vestibulum tincidunt. Proin venenatis lacus ac tortor
       vehicula pretium id et turpis. Nam sagittis tincidunt gravida. Vivamus consequat ipsum id massa malesuada
       malesuada. Curabitur sollicitudin massa enim. Mauris ultrices vehicula tortor a luctus. Donec massa metus, varius
       et dolor non, malesuada placerat ante.</p>
    <p> Etiam ornare felis eros, vel aliquam tellus convallis ac. Nulla velit lectus, rutrum at tempus fermentum,
        volutpat sit amet ipsum. Morbi accumsan, purus sed pretium condimentum, nibh felis elementum urna, vitae
        placerat dolor erat aliquet tellus. Morbi tincidunt augue eget nisi ullamcorper, lacinia convallis lorem
        facilisis.Integer id ullamcorper leo. Morbi posuere, tellus quis iaculis rhoncus, leo urna semper magna, in
        purus vel tellus. Duis mattis dictum arcu et rutrum. Suspendisse cursus gravida diam, a sollicitudin leo pretium
        in. Duis iaculis magna non accumsan euismod. Nulla aliquet ultrices aliquet. Etiam accumsan mi accumsan interdum
        egestas. Morbi vulputate lacinia velit, rutrum sodales massa vehicula id. Nunc a pharetra tortor. Nulla at
        bibendum augue.</p>
{% endblock %}
