{# It is recommended to avoid using third-party CDNs for production. #}
{# Instead, host static files in your own CDN for better performance, security, and reliability. #}

{% set version = get_version("ver_") %}
{% set app_name = "FastApi StarterPack | " %}

{# Check if the request is not an HTMX request. #}
{% if not request.state.is_htmx_request %}
    {# Block for non-HTMX requests: Full HTML rendering. #}
    <!DOCTYPE html>
    <html lang="en"
          x-data="themeManager"
          :class="{ 'dark': darkMode }">

    <head>
        {# Dynamic title block with the application name. #}
        <title>{{ app_name }}{{ title }}</title>
        {% include 'core/meta.html' %}

        {# Configures HTMX to handle responses with specific behaviors. #}
        <meta hx-preserve="true"
              name="htmx-config"
              content='{"responseHandling": [{"code":".*", "swap": true}]}'/>
        {# Stylesheets and favicon with cache-busting version query parameters. #}
        <link hx-preserve="true"
              rel="stylesheet"
              href="{{ url_for('static', path='/css/styles.css') }}?v={{ version }}">
        <link hx-preserve="true"
              rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', path='/images/favicon.ico') }}?v={{ version }}">

        {# JavaScript assets including Alpine.js and HTMX with their extensions. #}
        <script hx-preserve="true"
                defer
                src="{{ url_for('static', path='/js/main.js') }}?v={{ version }}"></script>
        {# Alpine.js and alpine plugins #}
        <script hx-preserve="true"
                defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script hx-preserve="true"
                defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script hx-preserve="true"
                defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        <script hx-preserve="true"
                defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        {# Htmx and htmx extensions #}
        <script hx-preserve="true"
                src="https://unpkg.com/htmx.org@2.x.x"></script>
        <script hx-preserve="true"
                src="https://unpkg.com/htmx-ext-head-support@2.0.1/head-support.js"></script>
        <script hx-preserve="true"
                src="https://unpkg.com/htmx-ext-preload@2.1.0/preload.js"></script>
        {# Blocks for additional metadata, styles, and scripts specific to individual pages. #}
        {% block extra_metadata %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </head>

    <body x-cloak
          class="flex min-h-screen flex-col overflow-x-hidden overflow-y-scroll bg-slate-50 dark:bg-slate-800">

    {% include 'core/loading.html' %}
    {% include 'core/nav.html' %}

    <div id="workspace"
         class="mx-auto w-full max-w-screen-2xl flex-grow bg-slate-50 dark:bg-slate-800">
        {% block main %}{% endblock %}
    </div>
    {% include 'core/footer.html' %}
    </body>

    </html>
{% else %}
    {# Block for HTMX requests: Provides structure for partial updates without full HTML rendering. #}
    <head>
        <title>{{ title | default(app_name ~ " Default Title") }}</title>
        {% include 'core/meta.html' %}
        {{ self.extra_metadata() }}
        {{ self.extra_js() }}
    </head>
    {{ self.main() }}
{% endif %}
