{% with version=get_version("ver_") %}  {# Ensures the client fetches the latest static files after #}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Basic metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        {% block extra_metadata %}{% endblock %}

        <!-- Dynamic title block -->
        <title>FastApi StarterPack {% block title %}{% endblock %}</title>

        <!-- Stylesheet and favicon -->
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/styles.css') }}?v={{ version }}">
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', path='/images/favicon.ico') }}?v={{ version }}">
        {% block extra_css %}{% endblock %}

        <!-- JavaScript -->
        <script defer
                src="{{ url_for('static', path='/js/main.js') }}?v={{ version }}"></script>
        <!-- Alpine.js and alpine plugins -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.x.x"></script>

        {% block extra_js %}{% endblock %}
    </head>


    <body x-cloak
          x-data="themeManager"
          class="overflow-x-hidden overflow-y-scroll flex flex-col min-h-screen bg-slate-50 dark:bg-slate-800 "
          :class="{ 'dark': darkMode }">

    <!-- Navigation Bar -->
    {% include 'core/nav.html' %}

    <!-- Main Content Area -->
    {% block main %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        {% include 'core/footer.html' %}
    </footer>

    </body>
    <!-- After Body Content -->
    {% block after_body_content %}
    {% endblock %}

    </html>
{% endwith %}
